{{- if eq .codename "Grid" -}}
#!/usr/bin/env bash

# op: {{ lookPath "op" }}

set -euo pipefail

if ! command -v op &>/dev/null; then
    exit 0
fi

if ! launchctl list | grep -q "openclaw"; then
    echo "Initializing OpenClaw and installing daemon..."
    openclaw onboard --install-daemon
fi
{{- end -}}
