{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $linux := get $features "linux" | default dict -}}
{{- $tools := get $linux "tools" | default dict -}}
{{- $mise := get $tools "mise" | default dict -}}
{{- if (and (eq .chezmoi.os "linux") $mise.enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

# mise config hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

command -v mise >/dev/null || exit 0
mise install --yes

{{- end -}}
