{{- $machine := get .machines (lower (default "" (get . "codename"))) | default dict -}}
{{- $profile := index .profiles (default (default (index .profile_defaults .chezmoi.os) (get $machine "profile")) (get . "profile")) -}}
{{- $profileLinux := get (get $profile "packages" | default dict) "linux" | default dict -}}
{{- $profileGnome := get $profileLinux "gnome" | default dict -}}
{{- $profileGnomeEnabled := get $profileGnome "enabled" | default true -}}
{{- if (and (eq .chezmoi.os "linux") (not .headless) .packages.linux.gnome.settings $profileGnomeEnabled) -}}

#!/usr/bin/env bash

set -euo pipefail

{{- range $profileGnome.settings }}
# gnome settings hash: {{ . }} {{ include (joinPath ".gnome" "settings" .) | sha256sum }}
{{- end }}

{{- range $profileGnome.settings }}
dconf load / <{{ joinPath $.chezmoi.sourceDir ".gnome" "settings" . | quote }}
{{- end }}

{{- end -}}
