{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $linux := get $features "linux" | default dict -}}
{{- $desktop := get $linux "desktop" | default dict -}}
{{- $gnome := get $desktop "gnome" | default dict -}}
{{- $gnomeSettings := get $gnome "settings" | default dict -}}
{{- if (and (eq .chezmoi.os "linux") (not (get $machine "headless")) $gnome.enabled $gnomeSettings.enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

{{- range $gnomeSettings.manifests }}
# gnome settings hash: {{ . }} {{ include (joinPath ".gnome" "settings" .) | sha256sum }}
{{- end }}

{{- range $gnomeSettings.manifests }}
dconf load / <{{ joinPath $.chezmoi.sourceDir ".gnome" "settings" . | quote }}
{{- end }}

{{- end -}}
