#: vim: set autoindent noexpandtab tabstop=4 shiftwidth=4:
#: vim: set list nospell filetype=gitconfig:

{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $gitName := get $machine "gitName" | default "" -}}
{{- $gitEmail := get $machine "gitEmail" | default "" -}}
{{- $gitSigningKey := get $machine "gitSigningKey" | default "" }}

[core]
	{{- if lookPath "delta" }}
	pager = delta
	{{- else }}
	pager = less -F -X -R
	{{- end }}

{{- if eq .chezmoi.os "windows" }}
	longpaths = true
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}

{{- if or $gitName $gitEmail $gitSigningKey }}
[user]
{{- if $gitName }}
	name = {{ $gitName }}
{{- end }}
{{- if $gitEmail }}
	email = {{ $gitEmail }}
{{- end }}
{{- if $gitSigningKey }}
	signingkey = {{ $gitSigningKey | quote }}
{{- end }}
{{- end }}

{{- if $gitSigningKey }}
[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
{{- end }}

[commit]
	verbose = true
{{- if $gitSigningKey }}
	gpgsign = true
{{- end }}

[tag]
	sort = version:refname
{{- if $gitSigningKey }}
	gpgsign = true
{{- end }}

[branch]
	sort = -committerdate

[column]
	ui = auto

[fetch]
	prune = true

[pull]
	ff = only

[push]
	autoSetupRemote = true
	followTags = true

[init]
	defaultBranch = "main"

[merge]
	conflictStyle = zdiff3

[pager]
	difftool = true

[rerere]
	enabled = true

[transfer]
	credentialsInUrl = die

{{- if lookPath "delta" }}
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
{{- end }}

{{ if lookPath "git-lfs" }}
# Git LFS is a separate program. Keep this required filter only on machines
# where the command exists, so smaller profiles do not get a filter they cannot run.
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- end }}

[diff]
	algorithm = histogram
	colorMoved = zebra
	colorMovedWS = allow-indentation-change
{{- if lookPath "difft" }}
	tool = difftastic
{{- end }}
{{- if lookPath "kitty" }}
	guitool = kitty.gui
{{- end }}

[difftool]
	prompt = false
	trustExitCode = true

{{- if lookPath "kitty" }}
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
{{- end }}

{{- if lookPath "difft" }}
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
{{- end }}

{{- if lookPath "kitty" }}
[difftool "kitty.gui"]
	cmd = kitty --override window_padding_width=0 kitty +kitten diff $LOCAL $REMOTE
{{- end }}

[alias]
{{- if lookPath "difft" }}
	ddiff = -c diff.external=difft diff
	dshow = -c diff.external=difft show --ext-diff
	dlog = -c diff.external=difft log --ext-diff
{{- end }}
{{- if lookPath "kitty" }}
	difftool-kitty = difftool --tool=kitty
{{- end }}
	gone-list = !~/.config/git/scripts/gone-list
	gone-prune = !~/.config/git/scripts/gone-prune
	graph = !~/.config/git/scripts/graph
	hide = update-index --skip-worktree
	ls-hidden = ! git ls-files -v | grep '^S' | cut -c3-
	ls-ignored = ! git ls-files --ignored --exclude-standard -o
	stash-rename = !~/.config/git/scripts/stash-rename
	unhide = update-index --no-skip-worktree
