{{- if eq .chezmoi.os "darwin" "linux" -}}


#! /usr/bin/env bash

# .extensions hash: {{ include "dot_config/gh/.extensions" | sha256sum }}

set -euo pipefail

if ! command -v gh &>/dev/null; then
    echo "gh is not installed"
    exit 1
fi

while read -r extension; do
    gh extension install "$extension" 2>/dev/null || true
done < "$CHEZMOI_SOURCE_DIR/dot_config/gh/.extensions"

{{- end -}}
