{{- if eq .chezmoi.os "windows" -}}

$extensionsFile = "$env:CHEZMOI_SOURCE_DIR\dot_config\gh\.extensions"

$extensions = Get-Content -Path $extensionsFile

$extensions | ForEach-Object { gh extension install $_ 2>$null }

{{- end -}}
