[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot
	ignore = dirty
	shallow = true
[submodule "ifplatform"]
	path = plugins/ifplatform
	url = git@github.com:ssbanerje/dotbot-ifplatform.git
	ignore = dirty
	shallow = true
[submodule "scoop-installer"]
	path = dotfiles/scoop/installer
	url = git@github.com:ScoopInstaller/Install.git
	ignore = dirty
	shallow = true
