{{- if (and (eq .chezmoi.os "darwin") .packages.darwin.settings.enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

# Press `Cmd + Ctrl` and click anywhere on a window to move it.
if [[ $(defaults read -g NSWindowShouldDragOnGesture 2>/dev/null) != 1 ]]; then
    defaults write -g NSWindowShouldDragOnGesture -bool true
fi

change=0
if [[ $(defaults read com.apple.dock springboard-columns 2>/dev/null) != 9 ]]; then
    defaults write com.apple.dock springboard-columns -int 9
    change=1
fi
if [[ $(defaults read com.apple.dock springboard-rows 2>/dev/null) != 5 ]]; then
    defaults write com.apple.dock springboard-rows -int 5
    change=1
fi
if [[ $change == 1 ]]; then
    killall Dock
fi

if [[ $(defaults read com.apple.finder NewWindowTarget 2>/dev/null) != "PfHm" ]]; then
    defaults write com.apple.finder NewWindowTarget -string "PfHm"
    defaults write com.apple.finder NewWindowTargetPath -string "file://$HOME/"
    killall Finder
fi

{{- end -}}
