{{/* Codename for specific machine */}}
{{- $codename := "" -}}

{{/* 1Password vault to use */}}
{{- $vault := "" -}}

{{/* Machine does not have a screen and keyboard */}}
{{- $headless := false -}}

{{/* Machine is a client */}}
{{- $client := false -}}

{{/* Personal or company device */}}
{{- $personal := true -}}

{{/* Detect GitHub codespaces, VSCode remote containers, Docker containers,
Multipass VMs, and Vagrant boxes */}}
{{- $username := .chezmoi.username -}}
{{- if or
        (env "CODESPACES")
        (env "REMOTE_CONTAINERS_IPC")
        (eq $username "root" "ubuntu" "vagrant" "vscode")
-}}
{{-     $headless = true -}}
{{- else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{- else -}}
{{-     $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{/* Work around unreliable hostname on darwin */}}
{{- if eq .chezmoi.os "darwin" -}}
{{-     $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-     $hostname := $computerName -}}
{{- end -}}

{{/* Resolve codename and 1Password vault */}}
{{- if hasPrefix "VNPC" $hostname -}}
{{-     $codename = "GFT" -}}
{{-     $vault = "GFT" -}}
{{-     $client = true -}}
{{-     $personal = false -}}
{{- else if eq $hostname "T-X" }}
{{-     $codename = "T-X" -}}
{{- else if eq $hostname "Rev-9" }}
{{-     $codename = "Rev-9" -}}
{{- else if eq $hostname "Arwen" }}
{{-     $codename = "Arwen" -}}
{{- else if eq $hostname "Madison" }}
{{-     $codename = "Madison" -}}
{{-     $client = true -}}
{{- else if eq $hostname "Hal" }}
{{-     $codename = "Hal" -}}
{{-     $vault = "HDBank" -}}
{{-     $client = true -}}
{{- else -}}
{{-     writeToStdout "Unknown host\n" -}}
{{-     exit 1 -}}
{{- end -}}

{{- if $personal -}}
{{-     $vault = "Personal" -}}
{{- end -}}

umask = 0o77

sourceDir = "~/Documents/Projects/Personal/dotfiles"

[data]
    codename = {{ $codename | quote }}
    personal = {{ $personal }}
    vault = {{ $vault | quote }}
    headless = {{ $headless }}
    client = {{ $client }}

[diff]
    exclude = ["scripts"]

[status]
    exclude = ["scripts"]

[scriptEnv]
    {{ if ne .chezmoi.os "windows" -}}
    PATH = """\
        /opt/homebrew/bin:\
        /usr/local/bin:\
        /home/linuxbrew/.linuxbrew/bin:\
        {{ .chezmoi.homeDir }}/.local/bin:\
        {{ env "PATH" }}\
    """
    {{- end }}

[interpreters.ps1]
    command = "powershell"
    args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass"]
