#!/bin/bash

#: vim: set fileencoding=utf-8 foldmethod=marker foldlevel=0 foldmarker=<<<,>>>:
#: vim: set colorcolumn=81 nospell:

#: Source common rc file
common_rc="$HOME/.config/shell/common_rc"
if [ -f "$common_rc" ] && [ -r "$common_rc" ]; then
    # shellcheck source=dot_config/shell/common_rc
    . "$common_rc" bash
fi
unset common_rc

#: Functions <<<

#: Check termcap name
is_termcap_name() {
    #: This uses XTerm Device-Control functions
    #: https://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h2-Device-Control-functions
    #: In this case, we send `DCS + q Pt ST` and the terminal responds with
    #:`DCS 1 + r Pt = TN ST` with `Pt` is the `TN` hexadecimal encoded
    printf '\eP+q544e\e\\'
    read -rs -t 0.05 -d '\' code
    [[ "$(echo "${code:10:-1}" | xxd -r -p)" == "$1" ]]
}

#: Check if the terminal is kitty
is_kitty() {
    is_termcap_name xterm-kitty
}

#: Check if the terminal is WezTerm
is_wezterm() {
    is_termcap_name WezTerm
}

#: Add function to existing trapped signals
#: https://stackoverflow.com/a/7287873
#: - 1st arg:  code to add
#: - remaining args:  names of traps to modify
add_trap() {
    trap_add_cmd="$1"
    shift || fatal "${FUNCNAME[*]} usage error"
    for trap_add_name in "$@"; do
        trap -- "$(
            extract_trap_cmd() { printf '%s\n' "$3"; }
            eval "extract_trap_cmd $(trap -p "${trap_add_name}")"
            printf '%s\n' "${trap_add_cmd}"
        )" "${trap_add_name}" ||
            fatal "unable to add to trap ${trap_add_name}"
    done
}
declare -f -t trap_add

#: Trim leading/trailing spaces and remove duplicate lines from `.bash_history`
#: https://unix.stackexchange.com/q/18212#comment1110864_18443
dedup_history() {
    tac <~/.cache/bash/history |
        #: Trim leading whitespaces
        awk '{ sub(/^[ \t]+/, ""); print }' |
        #: Trim trailing whitespaces
        awk '{ sub(/[ \t]+$/, ""); print }' |
        #: Remove duplicate lines
        awk '!a[$0]++' |
        tac >/tmp/deduped && mv -f /tmp/deduped ~/.cache/bash/history
}

#: Remove duplicate lines from `.bash_history`
#: https://unix.stackexchange.com/q/18212#comment865944_18443
dedup_history_2() {
    temporary_file=$(mktemp)
    nl <~/.cache/bash/history |
        sort -k 2 |
        tac |
        uniq -f 1 |
        sort -n |
        cut -f 2 >"$temporary_file" &&
        mv -f "$temporary_file" ~/.cache/bash/history
}

#: Remove last N lines from `.bash_history`, default is 1
remove_history() {
    sed -n -e :a -e "1,${1:-1}!{P;N;D;};N;ba" -i ~/.cache/bash/history
}

#: Bash session without history logging
bashout() {
    bash --init-file <(
        echo '. ~/.bashrc'
        echo 'unset HISTFILE'
        echo 'PROMPT_COMMAND='
        echo 'export NO_HISTORY=1'
        echo 'eval "$(oh-my-posh init bash)"'
    )
}

#: Add an `alert` for long running commands, use like so:
#:     sleep 3; alert
#: This function relies on an external script
alert() (
    last_error_code=$?

    shopt -s extglob
    last_command="$(history | tail -n 1)"
    last_command="${last_command##*([ ])*([0-9])*([ ])}"
    last_command="${last_command%%*( )@(;|&&|\|)*( )alert*( )}"

    [[ $last_error_code -eq 0 ]] &&
        title="Command finished" || title="Command failed"

    command_exists notify && notify \
        "$last_command" \
        "$title" \
        "$([[ $last_error_code -eq 0 ]] && echo terminal || echo error)"
)

#: >>>

#: Shell settings <<<

#: Make `less` more friendly for non-text input files, see `lesspipe(1)`
[[ -x /bin/lesspipe ]] &&
    [[ -x /bin/env ]] && eval "$(/bin/env -i SHELL=/bin/sh /bin/lesspipe)"

#: Disable the XON/XOFF feature for forward-search-history (C-s)
[[ -x /bin/stty ]] && /bin/stty -ixon

#: Avoid running commands immediately when pasting from clipboard
bind 'set enable-bracketed-paste'

#: TODO: Move other settings from `.inputrc` here
#: Show menu on first TAB
bind "set show-all-if-ambiguous on"

#: Check the window size after each command and, if necessary, update the
#: values of LINES and COLUMNS.
shopt -s checkwinsize

#: Autocorrect spelling mistakes when using `cd`
shopt -s cdspell

#: Autocorrect spelling mistakes in directory names
shopt -s dirspell 2>/dev/null

#: The pattern "**" used in a pathname expansion context will match all files
#: and zero or more directories and subdirectories
shopt -s globstar 2>/dev/null

#: >>>

#: History <<<

#: Remove previous duplicate lines when append to the history file <<<

#: Setting this is not enough As `HISCONTROL` only works with history list
HISTCONTROL=ignoredups:erasedups

#: Must set this otherwise history file will be wiped if history line > HISTSIZE
shopt -s histappend

#: Read this first: https://unix.stackexchange.com/q/18212

#: The top answer seems inappropiate for my case as I don't need to sync
#: between sessions, just want to remove duplicates lines after exit.

#: Then I read this: https://unix.stackexchange.com/q/18212#comment865941_18443.
#: This seems a good way, but if number of commands in session more than
#: `HISTSIZE`, the `.bash_hisitory` will be wiped with `history -w`.
#: I also don't want pressure my Bash with `HISTSIZE=`.
#: So finally I go with this:
clean_history() {
    dedup_history
    #: Or this:
    # dedup_history_2
    #: Two command is equally fast, the `dedup_history_2` keeps the early lines
    #: These line is for remind only
    # history -n
    # history -w
    # history -c
    # history -r
}
#: I trap above command after setting OMP in this file (as it also has its trap)

HISTFILE="$SHELL_CACHE_DIR/history"
#: Also append each line to history file for safe keeping
#: If the last command fails, it won't be added to history file
if [[ -z "$PROMPT_COMMAND" ]]; then
    PROMPT_COMMAND="status=\$?; \
    HISTFILE=~/.cache/bash/history; \
    [[ \$status -eq 0 ]] && history -a; \
    unset HISTFILE"
else
    PROMPT_COMMAND="status=\$?; \
    HISTFILE=~/.cache/bash/history; \
    [[ \$status -eq 0 ]] && history -a; \
    unset HISTFILE; \
    $PROMPT_COMMAND"
fi

#: This page is the `history` manual, better than its man page:
#: https://www.gnu.org/software/bash/manual/html_node/Bash-History-Builtins.html

#: Number of lines to store in the history file, will be truncated if too big
HISTFILESIZE=2000

#: Number of lines to remember in the history list, let not pressure the Bash
HISTSIZE="$((HISTFILESIZE * 2 / 3))"

#: >>>

#: Ignore some commands when saving to history <<<

#: Patterns to ignore saving to the history file (or also history line, sadly)
#: Ref: https://www.gnu.org/software/bash/manual/html_node/Pattern-Matching.html
#: Make sure `extglob` is on to use extended pattern matching
shopt -s extglob
HISTIGNORE="${HISTIGNORE}\
.( /)*:\
+( )*:\
[bf]g+( ):\
&:\
bash+( )+([^ ])*( ):\
cd+( )+([^ ])*( ):\
clear+( ):\
code+( )+([^ ])*( ):\
exit+( ):\
hash+( )+([^ ])*( ):\
history+( )+([^ ])*( ):\
pwd+( ):\
printf+( )+([^ ])*( ):\
rm+( )+([^ ])*( ):\
remove_history*( )*:\
tree+( )+([^ ])*( ):\
type+( )+([^ ])*( ):\
which+( )+([^ ])*( )"
#: Ignore all aliases with pattern: `alias<spaces><anything-not-space><spaces>`
# HISTIGNORE="${HISTIGNORE}\
# $(alias | sed 's/^alias \([^ =]\+\)=.*/:\1+( )+([^ ])*( )/' | tr -d '\n')"

#: >>>

#: >>>

#: Completion <<<

#: Enable programmable completion features
! shopt -oq posix && include /etc/bash_completion

#: Use `bash-completion@2` if available
command_exists brew && {
    HOMEBREW_PREFIX="$(brew --prefix)"
    include "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*; do
        include "${COMPLETION}"
    done
}

#: Custom completion
[[ -d "$SHELL_CONFIG_DIR"/completions ]] &&
    for file in "$SHELL_CONFIG_DIR"/completions/*; do include "$file"; done

#: >>>

#: Tools <<<

#: GNU coreutils <<<

{{ if eq .chezmoi.os "darwin" -}}

#: Add GNU coreutils to PATH
command_exists brew && {
    pkgs=(
        coreutils
        findutils
        gnu-sed
        gnu-tar
        make
    )
    for pkg in "${pkgs[@]}"; do
        [[ -d "$(brew --prefix "$pkg")/libexec/gnubin" ]] &&
            brew_prefix="$(brew --prefix "$pkg")/libexec/gnubin"
            export PATH="$brew_prefix:$PATH"
    done
}

{{- end }}

#: >>>

#: kitty <<<

#: Kitty shell integration
if
    [[ -n "$KITTY_INSTALLATION_DIR" ]] &&
        [[ -r "$KITTY_INSTALLATION_DIR/shell-integration/bash/kitty.bash" ]]
then
    export KITTY_SHELL_INTEGRATION="no-rc no-title"
    # shellcheck disable=SC1091
    . "$KITTY_INSTALLATION_DIR/shell-integration/bash/kitty.bash"
fi

#: >>>

#: >>>

#: Miscellaneous <<<

#: Cleanup history file when exiting
#: Have to be down here to avoid other program overriding it
add_trap clean_history EXIT

#: >>>

#: Execute a custom command without exiting like using `-c`
#: So we can do like this `bash -is eval 'echo 123' eval return`
#: Reference: https://www.zsh.org/mla/users/2005/msg00599.html
#: We can do `eval "$@"` but it'll break as some programs append extra arguments
while [[ "$1" == eval ]]; do
    shift
    eval "$1"
    shift
done

unset -f include command_exists
