{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $osFeatures := get $features .chezmoi.os | default dict -}}
{{- $install := get $osFeatures "install" | default dict -}}
{{- $homebrew := get $install "homebrew" | default dict -}}
{{- $manifests := get $homebrew "manifests" | default (list (get $machine "profile")) -}}
{{ joinPath .chezmoi.sourceDir ".Brewfiles" (index $manifests 0) }}
