{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $osPackages := get $packages .chezmoi.os | default dict -}}
{{- $brew := get $osPackages "brew" | default dict -}}
{{- $manifests := get $brew "manifests" | default (list (get $machine "profile")) -}}
{{ joinPath .chezmoi.sourceDir ".Brewfiles" (index $manifests 0) }}
