{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $windows := get $packages "windows" | default dict -}}
{{- $scoop := get $windows "scoop" | default dict -}}
{{- if (and (eq .chezmoi.os "windows") $scoop.enabled) -}}

{{- range $scoop.manifests }}
# scoop list hash: {{ . }} {{ include (joinPath ".scoop" .) | sha256sum }}
{{- end }}

$scoop = "$HOME\.scoop\shims\scoop.cmd"

if (-Not (Test-Path $scoop)) {
    $installerScript = 'https://get.scoop.sh'
    Invoke-Expression "& {$(Invoke-RestMethod -Uri $installerScript)} -RunAsAdmin -ScoopDir '$HOME\.scoop' -ScoopCacheDir '$HOME\.cache\scoop'"
}

& $scoop bucket add main

$packages = @()
{{- range $scoop.manifests }}
$packages += Get-Content "$env:CHEZMOI_SOURCE_DIR\.scoop\{{ . }}" |
    ForEach-Object { $_.Split('#')[0].Trim() } |
    Where-Object { $_ }
{{- end }}

$packages | Select-Object -Unique | ForEach-Object { & $scoop install $_ }

{{- end -}}
