#: vim: set nospell filetype=sshconfig:

{{- if eq .chezmoi.os "darwin" }}
# OrbStack 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
Include ~/.orbstack/ssh/config
{{- end }}

Host *
    AddKeysToAgent yes
    IgnoreUnknown UseKeychain
    UseKeychain yes

{{- if eq .chezmoi.os "darwin" }}
    {{- if stat (joinPath .chezmoi.homeDir "Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh") }}
    # Secretive SSH agent socket
    IdentityAgent "~/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh"
    {{- else if stat (joinPath .chezmoi.homeDir "Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock") }}
    # 1Password SSH agent socket
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    {{- end }}
{{- else }}
    IdentityFile ~/.ssh/keys/thanhph111
{{- end }}

# Connect 'Cloud9' instances via 'Visual Studio Code'
Host cloud9-*
    User ec2-user
    ProxyCommand sh -c "~/.ssh/ssm-proxy %h %p"

#: Example for a 'Cloud9' host configuration
# Host "Cloud9 - Something"
#: Specify the instance ID here
#     HostName i-something

{{- $secretsEnabled := or (index . "secretsEnabled") (env "OP_SERVICE_ACCOUNT_TOKEN") (eq (env "CHEZMOI_ENABLE_SECRETS") "1") -}}

{{ if and .client $secretsEnabled -}}
{{-     onepasswordRead "op://Personal/SSH servers/notesPlain" -}}
{{- end }}

{{ if and (eq .codename "HAL") $secretsEnabled -}}
{{-     onepasswordRead (print "op://" .vault "/SSH config/notesPlain") -}}
{{- end -}}
