{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $darwin := get $features "darwin" | default dict -}}
{{- $tools := get $darwin "tools" | default dict -}}
{{- $mise := get $tools "mise" | default dict -}}
{{- if (and (eq .chezmoi.os "darwin") $mise.enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

# mise config hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
# mise lock hash: {{ include "dot_config/mise/mise.lock" | sha256sum }}

command -v mise >/dev/null || exit 0
mise install --yes --locked --cd "$HOME"

{{- end -}}
