{{- if (and (eq .chezmoi.os "darwin") .packages.darwin.mise.enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

# mise config hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

command -v mise >/dev/null || exit 0
mise install --yes

{{- end -}}
