{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $windows := get $packages "windows" | default dict -}}
{{- $winget := get $windows "winget" | default dict -}}
{{- if (and (eq .chezmoi.os "windows") $winget.enabled) -}}

{{- range $winget.manifests }}
# winget import hash: {{ . }} {{ include (joinPath ".winget" .) | sha256sum }}

winget import `
    --import-file "$env:CHEZMOI_SOURCE_DIR\.winget\{{ . }}" `
    --ignore-unavailable `
    --ignore-versions `
    --accept-package-agreements `
    --accept-source-agreements `
    --disable-interactivity
{{- end }}

{{- end -}}
