{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $linux := get $features "linux" | default dict -}}
{{- $install := get $linux "install" | default dict -}}
{{- $homebrew := get $install "homebrew" | default dict -}}
{{- if (and (eq .chezmoi.os "linux") $homebrew.enabled) -}}
{{- $files := list -}}
{{- range $homebrew.manifests -}}
{{-     $files = append $files (joinPath $.chezmoi.sourceDir ".Brewfiles" .) -}}
{{- end -}}
{{- template
    "install-brew-packages"
    (dict "files" $files)
-}}

{{- if $homebrew.link_fonts }}
HOMEBREW_PREFIX="$("$BREW_BIN" --prefix)"
if [[ -d "$HOMEBREW_PREFIX/share/fonts" ]]; then
    mkdir -p ~/.local/share/fonts
    ln -fs "$HOMEBREW_PREFIX/share/fonts" ~/.local/share/fonts/homebrew
    fc-cache -f -v
fi
{{- end }}
{{- end -}}
