{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $linux := get $packages "linux" | default dict -}}
{{- $brew := get $linux "brew" | default dict -}}
{{- if (and (eq .chezmoi.os "linux") $brew.enabled) -}}
{{- $files := list -}}
{{- range $brew.manifests -}}
{{-     $files = append $files (joinPath $.chezmoi.sourceDir ".Brewfiles" .) -}}
{{- end -}}
{{- template
    "install-brew-packages"
    (dict "files" $files)
-}}

{{- if $brew.link_fonts }}
HOMEBREW_PREFIX="$("$BREW_BIN" --prefix)"
if [[ -d "$HOMEBREW_PREFIX/share/fonts" ]]; then
    mkdir -p ~/.local/share/fonts
    ln -fs "$HOMEBREW_PREFIX/share/fonts" ~/.local/share/fonts/homebrew
    fc-cache -f -v
fi
{{- end }}
{{- end -}}
