{{- if (and (eq .chezmoi.os "linux") (not .headless)) -}}

#!/usr/bin/env bash

set -euo pipefail

dconf load / <{{ joinPath .chezmoi.sourceDir ".gnome" "settings" (lower .codename) | quote }}

{{- end -}}
