{{- if eq .chezmoi.os "linux"-}}

#! /usr/bin/env bash

set -euo pipefail

#: Install GNOME Shell Extensions

gext install "$(cat {{ joinPath .chezmoi.sourceDir ".gnome" "extensions" (lower .codename) | quote }})"

#: Compile extension schemas
for ext in ~/.local/share/gnome-shell/extensions/*/schemas/*.gschema.xml; do
    sudo cp -v "$ext" /usr/share/glib-2.0/schemas/
done
sudo glib-compile-schemas /usr/share/glib-2.0/schemas/

{{- end -}}
