{{- if eq .chezmoi.os "linux" -}}

#! /usr/bin/env bash

set -euo pipefail

sudo tee /etc/ssh/sshd_config.d/disable-password-login.conf >/dev/null <<EOT
ChallengeResponseAuthentication no
PasswordAuthentication no
EOT

{{- end -}}
