{{- if (and (eq .chezmoi.os "linux") (not .shared)) -}}

#!/usr/bin/env bash

set -euo pipefail

xargs uv tool install <{{ joinPath .chezmoi.sourceDir ".pipx" (lower .codename) | quote }}

{{- end -}}
