{{- if eq .chezmoi.os "linux" -}}

#! /usr/bin/env bash

set -euo pipefail

#: SSH
sudo ufw allow ssh

#: Spotifyd
sudo ufw allow 36270/tcp

#: RDP
sudo ufw allow 3389/tcp

sudo ufw enable

{{- end -}}
