{{- if eq .osid "linux-ubuntu" -}}

#! /usr/bin/env bash

set -euo pipefail

#: Install GNOME Shell Extensions

packages=(
    Recents@leonardo.bartoli.gmail.com
    RemoveAppMenu@Dragon8oy.com
    appindicatorsupport@rgcjonas.gmail.com
    apps-menu@gnome-shell-extensions.gcampax.github.com
    auto-move-windows@gnome-shell-extensions.gcampax.github.com
    caffeine@patapon.info
    clipboard-indicator@tudmotu.com
    ddterm@amezin.github.com
    drop-down-terminal@gs-extensions.zzrough.org
    extensions@abteil.org
    floating-dock@nandoferreira_prof@hotmail.com
    fully-transparent-top-bar@aunetx
    gsconnect@andyholmes.github.io
    hide-keyboard-layout@sitnik.ru
    hidetopbar@mathieu.bidon.ca
    impatience@gfxmonk.net
    native-window-placement@gnome-shell-extensions.gcampax.github.com
    noannoyance@daase.net
    openweather-extension@jenslody.de
    places-menu@gnome-shell-extensions.gcampax.github.com
    remove-dropdown-arrows@mpdeimos.com
    spotify-ad-block@danigm.net
    user-theme@gnome-shell-extensions.gcampax.github.com
)

echo 'This is a list of GNOME Shell Extensions to be installed:'
printf '%s\n' "${packages[@]}"
echo 'Please install them manually.'

{{- end -}}
