{{- if eq .osid "linux-ubuntu" -}}

#! /usr/bin/env bash

set -euo pipefail

#: Install GNOME Shell Extensions

packages=(
    apps-menu@gnome-shell-extensions.gcampax.github.com
    auto-move-windows@gnome-shell-extensions.gcampax.github.com
    caffeine@patapon.info
    ddterm@amezin.github.com
    gsconnect@andyholmes.github.io
    hide-keyboard-layout@sitnik.ru
    hidetopbar@mathieu.bidon.ca
    native-window-placement@gnome-shell-extensions.gcampax.github.com
    places-menu@gnome-shell-extensions.gcampax.github.com
    spotify-ad-block@danigm.net
    user-theme@gnome-shell-extensions.gcampax.github.com
)

gext install "${packages[@]}"

#: Compile extension schemas
for ext in ~/.local/share/gnome-shell/extensions/*/schemas/*.gschema.xml; do
    sudo cp -v "$ext" /usr/share/glib-2.0/schemas/
done
sudo glib-compile-schemas /usr/share/glib-2.0/schemas/

{{- end -}}
