{{- if eq .osid "linux-ubuntu" -}}

#! /usr/bin/env bash

set -euo pipefail

keybindings=(
    'move-to-monitor-down []'
    'move-to-monitor-down []'
    'move-to-monitor-left []'
    'move-to-monitor-right []'
    'move-to-monitor-up []'
    'move-to-workspace-1 []'
    'move-to-workspace-down []'
    'move-to-workspace-last []'
    'move-to-workspace-left []'
    'move-to-workspace-right []'
    'move-to-workspace-up []'
    'switch-to-workspace-down []'
    'switch-to-workspace-last []'
    'switch-to-workspace-left []'
    'switch-to-workspace-right []'
    'switch-to-workspace-up []'
    'switch-panels []'
    'switch-panels-backward []'
    'switch-group ["<Super>Above_Tab"]'
    'switch-group-backward ["<Shift><Super>Above_Tab"]'
)

for keybinding in "${keybindings[@]}"; do
    echo "Setting keybinding: $keybinding"
    /usr/bin/gsettings set org.gnome.desktop.wm.keybindings $keybinding
done

{{- end -}}
