<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:{{ .chezmoi.homeDir }}/.local/bin:{{ output "brew" "--prefix" | trim }}/bin:{{ output "brew" "--prefix" | trim }}/sbin</string>
        </dict>
        <key>Label</key>
        <string>ke.bou.dark-mode-notify</string>
        <key>KeepAlive</key>
        <true />
        <key>StandardErrorPath</key>
        <string>{{ .chezmoi.homeDir }}/.cache/dark-notify/stderr.log</string>
        <key>StandardOutPath</key>
        <string>{{ .chezmoi.homeDir }}/.cache/dark-notify/stdout.log</string>
        <key>ProgramArguments</key>
        <array>
            <string>{{ output "which" "dark-notify" | trim }}</string>
            <string>-c</string>
            <string>{{ .chezmoi.homeDir }}/.local/bin/switch-theme</string>
        </array>
    </dict>
</plist>
