{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $darwin := get $packages "darwin" | default dict -}}
{{- $brew := get $darwin "brew" | default dict -}}
{{- if (and (eq .chezmoi.os "darwin") $brew.enabled) -}}
{{- $files := list -}}
{{- range $brew.manifests -}}
{{-     $files = append $files (joinPath $.chezmoi.sourceDir ".Brewfiles" .) -}}
{{- end -}}
{{- template
    "install-brew-packages"
    (dict "files" $files)
-}}
{{- end -}}
