{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $darwin := get $features "darwin" | default dict -}}
{{- $install := get $darwin "install" | default dict -}}
{{- $homebrew := get $install "homebrew" | default dict -}}
{{- if (and (eq .chezmoi.os "darwin") $homebrew.enabled) -}}
{{- $files := list -}}
{{- range $homebrew.manifests -}}
{{-     $files = append $files (joinPath $.chezmoi.sourceDir ".Brewfiles" .) -}}
{{- end -}}
{{- template
    "install-brew-packages"
    (dict "files" $files)
-}}
{{- end -}}
