{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $linux := get $features "linux" | default dict -}}
{{- $services := get $linux "services" | default dict -}}
{{- $codeServer := get $services "code_server" | default dict -}}
{{- $codeCommand := get $codeServer "command" | default "code" -}}
{{- $host := "127.0.0.1" -}}
{{- $port := 9999 -}}
{{- $host = get $codeServer "host" | default $host -}}
{{- $port = get $codeServer "port" | default $port -}}
{{- if and (eq .chezmoi.os "linux") (not (get $machine "shared")) -}}
[Unit]
Description=Visual Studio Code Server
Documentation=https://code.visualstudio.com/docs
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env {{ $codeCommand }} serve-web --host {{ $host }} --port {{ $port }} --accept-server-license-terms
Restart=always

[Install]
WantedBy=default.target
{{ end }}
