{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $linux := get $packages "linux" | default dict -}}
{{- $system := get $linux "system" | default dict -}}
{{- if (and (eq .chezmoi.os "linux") (get $machine "hasSudo") (not (get $machine "shared")) $system.rtc_local_time) -}}

#!/usr/bin/env bash

set -euo pipefail

# Avoid time conflicts when dual-booting with Windows.
sudo timedatectl set-local-rtc 1

{{- end -}}
