{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $linux := get $features "linux" | default dict -}}
{{- $system := get $linux "system" | default dict -}}
{{- $rtcLocalTime := get $system "rtc_local_time" | default dict -}}
{{- $enabled := get $rtcLocalTime "enabled" | default false -}}
{{- if (and (eq .chezmoi.os "linux") (get $machine "hasSudo") (not (get $machine "shared")) $enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

# Avoid time conflicts when dual-booting with Windows.
sudo timedatectl set-local-rtc 1

{{- end -}}
