{{- $packages := includeTemplate "resolved-packages.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $linux := get $packages "linux" | default dict -}}
{{- $system := get $linux "system" | default dict -}}
{{- if (and (eq .chezmoi.os "linux") (get $machine "hasSudo") (not (get $machine "shared")) $system.ufw) -}}

#!/usr/bin/env bash

set -euo pipefail

sudo ufw allow ssh
sudo ufw allow 36270/tcp
sudo ufw allow 3389/tcp
sudo ufw --force enable

{{- end -}}
