{{- $features := includeTemplate "resolved-features.json" . | fromJson -}}
{{- $machine := includeTemplate "resolved-machine.json" . | fromJson -}}
{{- $darwin := get $features "darwin" | default dict -}}
{{- $apps := get $darwin "apps" | default dict -}}
{{- $openclaw := get $apps "openclaw" | default dict -}}
{{- if (and (eq .chezmoi.os "darwin") (get $machine "agent") $openclaw.enabled) -}}

#!/usr/bin/env bash

set -euo pipefail

command -v op >/dev/null || exit 0
command -v openclaw >/dev/null || exit 0

if ! launchctl list | grep -q "openclaw"; then
    openclaw onboard --install-daemon
fi

{{- end -}}
